{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Student Management System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  </head>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'login' %}">IFTO</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="{% url 'new' %}">novo aluno</a>
          <a class="nav-link active" aria-current="page" href="{% url 'ev_new' %}">novo evento</a>
          <a class="nav-link active" aria-current="page" href="{% url 'lista' %}">lista aluno</a>
          <a class="nav-link active" aria-current="page" href="{% url 'ev_lista' %}">lista evento</a>
        </div>
      </div>
    </div>
  </nav>

    <div class="container-fluid">
      {% block conteudo %}
      {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>